http:// {
	handle /organization* {
		reverse_proxy api:8080
	}

	handle /department* {
		reverse_proxy api:8080
	}

	handle /employee* {
		reverse_proxy api:8080
	}

	handle /message* {
		reverse_proxy api:8080
	}

	handle /event* {
		reverse_proxy api:8080
	}

	handle /campaign* {
		reverse_proxy api:8080
	}

	handle /target* {
		reverse_proxy api:8080
	}

	handle /vtarget* {
		reverse_proxy api:8080
	}

	handle /landing* {
		reverse_proxy api:8080
	}

	@visit path_regexp visit "^/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}(?:\.gif)?$"
	handle @visit {
		reverse_proxy api:8080
	}

	handle_path /public/* {
		root * /var/www/my-app/public
		file_server
	}

	handle {
		root * /var/www/my-app/frontend
		try_files {path} {path}/ /index.html
		file_server
	}
}
