api.bebra.com {
	tls internal

	header {
		>Content-Security-Policy "default-src 'self'; base-uri 'self'; object-src 'none'; frame-ancestors 'none'; form-action 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; media-src 'self' data: blob:; font-src 'self' data:; connect-src 'self'; frame-src 'self' data: blob:; upgrade-insecure-requests"
		>X-Frame-Options "DENY"
		>X-Content-Type-Options "nosniff"
		>Referrer-Policy "strict-origin-when-cross-origin"
		# >Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	@apiRoutes path /organization /department /department/* /employee /employee/* /message /message/* /event /event/* /campaign /campaign/* /target /target/* /vtarget /landing /landing/* /attachment /attachment/* /max-account /max-account/* /voice /voice/* /me
	handle @apiRoutes {
		reverse_proxy api:8080
	}

	@authApi {
		method POST
		path /login /logout
	}
	handle @authApi {
		reverse_proxy api:8080
	}

	@visit path_regexp visit "^/[A-Za-z0-9_-]{22}(?:\.gif)?$"
	handle @visit {
		reverse_proxy api:8080
	}

	handle {
		root * /var/www/my-app/frontend
		try_files {path} {path}/ /index.html
		file_server
	}
}

:80 {
	handle /attachment* {
		reverse_proxy api:8080
	}

	@visit path_regexp visit "^/[A-Za-z0-9_-]{22}(?:\.gif)?$"
	handle @visit {
		reverse_proxy api:8080
	}

	handle {
		respond "Not Found" 404
	}
}

:443 {
	tls internal {
		on_demand
	}

	handle /attachment* {
		reverse_proxy api:8080
	}

	@visit path_regexp visit "^/[A-Za-z0-9_-]{22}(?:\.gif)?$"
	handle @visit {
		reverse_proxy api:8080
	}

	handle {
		respond "Not Found" 404
	}
}
